.friendMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  margin-top: 55px;
}

.friendImageAndText {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
}

.friendText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),
    0px 5px 20px 0px rgba(29, 33, 38, 0.03);
  background: rgb(245, 247, 251);
  display: flex;
  flex-direction: column;
  padding: 13px 8px 13px 8px;
  position: relative;
}
.friendText:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 13px solid rgb(245 247 251);

  box-shadow: 0px 5px 20px rgba(29, 38, 38, 0.01),
    0px 1px 0px rgba(29, 38, 38, 0.05);

  bottom: 0;
  left: -12px;
}
/* .friendText:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 0 13px;
  box-shadow: -5px 5px red, -5px 5px 0px 3px black;
  border-color: transparent transparent transparent rgb(245, 247, 251);
  rotate: -90deg;
  bottom: 0;
  left: -12px;
} */

.friendName {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.friendMessageText {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.friendTime {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin-left: 10px;
}
